 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 896px;
}

.u-section-1 .u-image-1 {
  width: 351px;
  height: 351px;
  background-image: url("images/heppy.jpg");
  background-position: 50% 50%;
  margin: 96px 20px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 173px;
  height: 173px;
  background-image: url("images/edu.jpg");
  background-position: 24.37% 50%;
  margin: -261px 437px 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: -17px 610px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px 570px 0 0;
}

.u-section-1 .u-group-1 {
  width: 454px;
  min-height: 336px;
  height: auto;
  margin: -38px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 25px;
}

.u-section-1 .u-text-3 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 2px;
}

.u-section-1 .u-image-3 {
  width: 242px;
  height: 242px;
  background-image: url("images/phone.jpg");
  background-position: 100% 50%;
  margin: -247px auto 5px 328px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 410px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 367px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -6px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 98px;
  }
} .u-section-2 {
  min-height: 698px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 758px;
  text-shadow: 2px 2px 16px rgba(245,214,84,1);
  margin: 146px calc(((100% - 1140px) / 2) + 191px) 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 502px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1009px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 727px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}